.bigger-symbol {
  font-size: 1.3rem;
  font-weight: bold;
}
.qty-number {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3;
  font-size: 1.3rem;
  min-width: 2rem;
  text-align: center;
}
